* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --primary-color: #D41736;
}

html, body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  font-size: 1.3rem;
  background-color: var(--primary-color);
  box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.15);
}

header h1 {
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  font-weight: 500;
  color: white;
}

header h1 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header svg {
  cursor: pointer;
  width: 60px;
  fill: white;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.todopage {
  width: 100%;
  height: 100%;
  padding: 30px 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.todopage svg {
  position: absolute;
  left: 10px;
  top: 10px;
  border: 1px solid black;
  border: none;
  border-radius: 50%;
  width: 40px;
  align-self: flex-start;
  background-color: white;
}

.todopage svg:hover {
  background-color: lightgray;
}

.todopage form {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: max-content;
  min-width: min-content;
  height: max-content;
  padding: 30px 50px;
  font-size: 1.3rem;
  border: 1px solid black;
  border-radius: 10px;
  gap: 40px;
  background-color: white;
}

.labelInput {
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.labelInput input:focus,
.labelInput textarea:focus,
fieldset div {
  outline-width: 0;
  box-shadow: 2px 2px 4px black;
}

.labelInput input,
.labelInput textarea {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 3px 8px;
  width: 25rem;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px gray;
  text-align: center;
  resize: none;
}

fieldset {
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  border: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}

fieldset div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
}

fieldset label {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  gap: 10px;
  align-items: center;
}

.todopage button {
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  background-color: blue;
  border: 1px solid black;
  color: white;
  font-size: 1.2rem;
  align-self: center;
  width: max-content;
  padding: 8px 25px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px gray;
  cursor: pointer;
}

.homepage {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 6fr 1fr;
}


.projects {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 25px;
  gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: max-content;
  max-height: 100%;
  box-shadow: 2px 2px 2px gray;
}

.header {
  position: relative;
  display: flex;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--primary-color);
  padding-bottom: 8px;
  padding-top: 4px;
  align-items: center;
  justify-content: center;
}

.name {
  cursor: pointer;
}

.name:focus {
  background-color: white;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 2px 8px;
}

.header svg {
  position: absolute;
  width: 25px;
  fill: white;
  cursor: pointer;
  right: 12px;
  top: 8px;
}

.header svg:hover {
  fill: black;
}

.todos {
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
}

.todo {
  z-index: 0;
  position: relative;
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  display: flex;
  padding: 8px 12px;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid lightgray;
}

.todo h3,
.todo input {
  cursor: pointer;
}

.todo input {
  z-index: 2;
  margin-right: 8px;
}

.todo h3 {
  width: 185px;
  align-items: center;
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.todo div {
  border-right: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 38px;
}

.none {
  background-color: white;
}

.low {
  background-color: green;
}

.medium {
  background-color: orange;
}

.high {
  background-color: var(--primary-color);
}

.alternating {
  background-color: rgb(242, 242, 242);
}

.todo svg {
  cursor: pointer;
  width: 25px;
  fill: black;
}

.todo svg:hover {
  fill: red;
}

.todo h4 {
  color: gray;
  font-size: 0.9rem;
}

.header,
.footer {
  text-align: center;
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  width: 100%;
  color: white;
  border: 1px solid black;
  min-width: 200px;
}

.footer {
  cursor: pointer;
}

.addTodo {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: green;
  margin-top: -1px;
  font-weight: 300;
  font-size: 25px;
  padding-bottom: 6px;
  padding-top: 4px;
}

.addTodo:hover {
  background-color: lightgreen;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

#addProject {
  height: max-content;
  border: 1px solid gray;
  border-radius: 40px;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: 100;
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  font-size: 60px;
  width: calc(100%/7);
  padding-bottom: 8px;
  box-shadow: 2px 2px 3px;
  text-align: center;
}

#addProject:hover {
  background-color: lightgreen;
}

.completed {
  text-decoration: line-through;
}
